---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A little bit about me"
  pubDate={new Date("05 September 2025")}
  public={true}
>
  <p>Yeah I'm Neven</p>
</Layout>
